body{
    color:#313030;
}

section h1{
    font-family: FreeMono, monospace;
    font-size: 200%;
    font-weight: bold;
    margin: 0%;
    padding: 2%;
    text-align: center;
    position: relative;
}

table{
    font-weight: bold;
    font-family: FreeMono, monospace;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}

table tr{
    font-size: 200%;
    height: 50px;
    width: 300px;
}

table select,table input,button{
    font-size: 70%;
    border: 0px;
    color:whitesmoke;
    font-family: FreeMono, monospace;
    font-weight: bold;
    background:#31303085;
    font-family: FreeMono, monospace;
    height: 50px;
    width: 300px;
}
.submit:hover{
    color: rgb(212, 212, 255);
    opacity: 0.99;
}

::placeholder{
    color:whitesmoke;
}

.kropka{
    width: 70px;
    height: 20px;
    border: 0px;
    color:whitesmoke;
    font-family: FreeMono, monospace;
    font-weight: bold;
    background: #31303085;
}

.submit{
    width: 604px;
}

.buttons{
    margin: 0%;
}

.line-separator{
    border-bottom:2px solid #313030;
}

#koszyk{
    font-family: FreeMono, monospace;
    margin: 0%;
    text-align: center;
    position: relative;
}

#list{
    margin-left: 30%;
    transform: translate(-20.5%, 0%);
    padding: 2%;
    overflow-y: scroll; 
    height:350px;
    font-family: FreeMono, monospace;
    font-weight: bold;
}

#list button.usun, button.edytuj{
    font-size: 100%;
    width: 70px;
}

#list fieldset{
    background: #31303050;
    text-align: center;
}

.edycja{
    width: 150px;
    height: 20px;
}

#list button.nadpisz{
    height: 30px;
    width: 328px;
}

button{
    border: 0px;
    color:whitesmoke;
    font-family: FreeMono, monospace;
    font-weight: bold;
    background: #31303085;
}

button:hover{
    color: rgb(212, 212, 255);
    opacity: 0.99;
}

.line-separator button{
    padding: 2px;
    font-size: 100%;
}

.editTable tr{
    text-align: left;
    font-size: 120%;
    width: 100px;
    height: 30px;
}

.rekord{
    margin-top: 4px;
    margin-bottom: 3px;
}